.main {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 16px;
  }

  &__item:not(:nth-child(3n)) {
    margin-right: 16px;
  }
}

.description {
  font-size: 30px;
  text-align: center;
}