.header {
  display: flex;
  justify-content: space-around;


  &__menu {
    display: flex;
    justify-content: center;
  }

}

.menu {

  &__item {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
  }
  &__item:hover {
    background-color: aqua;
  }

  &__item:link,
  &__item:visited,
  &__item:hover {
    color: black;
  }
}